<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>借还统计</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" th:href="@{/static/layui/css/layui.css}">

    <script src="/static/js/jquery-1.11.3.min.js" th:src="@{/static/js/jquery-1.11.3.min.js}"></script>
    <script src="/static/layui/layui.all.js" th:src="@{/static/layui/layui.all.js}"></script>
    <script src="/static/js/util.js" th:src="@{/static/js/util.js}"></script>
    <!-- 引入 echarts.js -->
    <script src="/static/js/echarts.min.js" th:src="@{/static/js/echarts.min.js}"></script>
</head>

<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 800px;height:400px;">

</div>

<!--ctx-->
<script th:replace="~{fragment::ctx}"/>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var chart = document.getElementById('main');
    var echart = echarts.init(chart);

    $(function(){
        buildData();
    });

    //生成数据
    function buildData()
    {


        echart.showLoading();
        // 请求
        $.ajax({
            url: ctx+'api/book/list?page=1&limit=30',
            type: 'GET',
            contentType: "application/json",
            dataType: "json",
            data: "",
            success: function (result) {

                if (result.code ==0) {
                    console.log(JSON.stringify(result.data.name));
                    var data=result.data;
                    console.log(data);
                    //处理数据
                    chartData=[
                        {
                            name:'清华大学出版社-北京',
                            value:0
                        },
                        {
                            name:'江西出版社',
                            value:0
                        },
                        {
                            name:'中国人民出版社',
                            value:0
                        },
                        {
                            name:'首都师范出版社-北京',
                            value:0
                        }
                        ,
                        {
                            name:'东华理工大学出版社-南昌',
                            value:0
                        }
                    ]

                    for(var i=0,len=data.length;i<len;i++){
                        if(data[i].publisherName=='清华大学出版社-北京'){
                            chartData[0].value++;
                        }
                        else if(data[i].publisherName=='江西出版社'){
                            chartData[1].value++;
                        }
                        else if(data[i].publisherName=='中国人民出版社'){
                            chartData[2].value++;
                        }
                        else if(data[i].publisherName=='首都师范出版社-北京'){
                            chartData[3].value++;
                        }
                        else if(data[i].publisherName=='东华理工大学出版社-南昌'){
                            chartData[4].value++;
                        }
                        else{
                            chartData[5].value++;
                        }
                    }
                    echart.hideLoading();
                    buildChart(chartData);
                } else {
                    layer.alert(result.message);
                }
            }
        });

        /*for(var i=0;i<columLabel.length;i++)
        {
            for(var j=0;j<columName.length;j++)
            {
                arrData.push(Math.floor(Math.random()*1000+1000*j-1000*i));
            }
            console.info(arrData);
            columnValue.push(eval('(' + ("{'name':'"+columLabel[i]+"','type':'bar','data':["+arrData+"]}") + ')'));
        }*/


    }

    //生成图形
    function buildChart(chartData)
    {

        var option = {
            title: {
                text: '图书出版社统计'
            },



            xAxis : [
                {
                    name:'分类',
                    min:0,

                    data : ['清华出版社','江西出版社','中国人民出版社','首都师范出版社','东华理工出版社']
                }
            ],
            yAxis:{},
            tooltip:{},
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            series:[
                {
                    type:'line',
                    color:'#561319',
                    data:chartData
                },
                {
                    type:'bar',
                    data: chartData,
                    barWidth:40,
                    color:'red'

                },


            ]
        };

        echart.setOption(option);
    }


</script>


</body>

</html>